# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtualenv
venv/
ENV/
env/
env.bak/
venv.bak/
python_env/

# Pyre type checker
.pyre/

# mypy type checker
.mypy_cache/
.dmypy.json
dmypy.json

.env

.DS_Store

# unused llm services

llama_service.py

openai_service.py
.vercel
